<!-- 唯一必不可少的，是网站主页的模板，如果没有会报错 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <% site.posts.sort("date", "desc").each(function(post){ %>
        <%- partial("_partial/post_entry", {post: post}) %>
            <% }) %>
</body>
</html>

